<html>
    <!-- ----------------------------------------head-tag--------------------------------------------------------- -->
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <!-- ==============================================body============================================================ -->
    <body><h1>This is Home Page</h1>


        <!-- ====================================main================================ -->

        <div class="mains" id="main">
            <!-- ==================================Form to create a project=========================================== -->
    <div class="Porject-c" id="project-i">
        <form action="/create/projects" method="POST">
            <input type="text" name="name" placeholder="Project-Name" required>
            <input cols="30" rows="3" name="description" required id="textarea" placeholder="Project........................">
            <input type="text" name="author" placeholder="Author" required>
            <button> Create</button>
        </form>
    </div>
<!-- =================================================Div to display-Projects======================================== -->
    <div class="p-display-c" id="p-display-i">
        <ol>
        <%for(let i of projects){%>
            <a href="/project/details/<%=i._id%>" id="p-display-a-i">
            <li><h3><%=i.name%></h3>
                <p><%=i.description%></p>
                <h4>------------<%=i.author%></h4>
            </li>
        </a>
            <%}%>
        </ol>
    </div>
</div>
</body>
</html>